// -----------------------------------------------------------------------------
// This file contains all styles related to the link component.
// -----------------------------------------------------------------------------

.link {
  padding: 0 5px;
  color: var(--white, #{$white});
  transition-property: color, outline-color, outline-width;
  transition-timing-function: ease;
  transition-duration: 200ms;
  cursor: pointer;
  
  &:focus-visible {
    outline: 1px solid var(--green-focus, #{$green-focus});
    outline-offset: 1px;
  }
  
  &:hover { color: var(--primary-green, #{$primary-green}); }
  
  &:active { color: var(--green-active-click, #{$green-active-click}); }
}
