// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$background: #1d2f30;
$background-shade: #0b1919;
$green-active-click: #688b05;
$green-focus: #83a440;
$green-hover: #91ac46;
$grey: #899d9d;
$primary-green: #bae249;
$white: #ffffff;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '../assets/' !default;
