// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

:root {
  --background: #{$background};
  --background-shade: #{$background-shade};
  --green-active-click: #{$green-active-click};
  --green-focus: #{$green-focus};
  --green-hover: #{$green-hover};
  --grey: #{$grey};
  --primary-green: #{$primary-green};
  --white: #{$white};
}

body, #app { height: 100vh; }

body { background-color: var(--background, #{$background}); }
