a, button, input { color: inherit; }

a, button {
  &:focus-visible {
    outline-width: 0;
    outline-color: transparent;
  }
}

a { text-decoration: none; }

body, button, h1, input, ul { margin: 0; }

button, input, ul { padding: 0; }

button, input { background-color: transparent; }

button, input { border: 0; }

ul { list-style-type: none; }
