.btn {
  min-width: 145px;
  min-height: 45px;
  padding: 9.5px 27.5px 9.5px 27.5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-green, #{$primary-green});
  background-color: transparent;
  border: 1px solid var(--primary-green, #{$primary-green});
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-property: color, background-color, border-color;
  cursor: pointer;
  user-select: none;
  
  &:disabled {
    color: var(--grey, #{$grey});
    border-color: var(--grey, #{$grey});
    cursor: not-allowed;
  }
  
  &:not(:disabled) {
    &:focus-visible {
      outline: 1px solid var(--green-focus, #{$green-focus});
      outline-offset: 3px;
    }
    
    &:hover {
      color: var(--background-shade, #{$background-shade});
      background-color: var(--primary-green, #{$primary-green});
    }
    
    &:active {
      background-color: var(--green-active-click, #{$green-active-click});
      border-color: var(--green-active-click, #{$green-active-click});
    }
  }
}